.search-comp {
  padding: 100px 0;
  width: 100%;
}

.title {
  height: 100vh;
  padding-top: 50vh;
}
.title-s {
  padding-top: 10px;
}
.title-h1 {
  font-family: "gibsonlight";
  text-transform: uppercase;
  /* animation: move 3s ease alternate; */
}

.m-right-10 {
  margin-right: 10px;
}

.user-form {
  text-align: left;
  margin: 10px 0;
}

/* @keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, calc(-50vh + 10px));
  }
} */
